@using EntityLayer.Concrete
@{
    ViewData["Title"] = "Index";
}
@model List<Book>

<h1>Books</h1>

@if (TempData["status"] != null)
{
    <span>@TempData["status"]</span>

    <div class="alert alert-primary" role="alert">
        @TempData["status"]
    </div>

}

<a asp-controller="Book" asp-action="add">Ekle </a>
<table class="table">
    <thead>
        <tr class="text-light">
            <th>Id</th>
            <th>Kitap İsim</th>
            <th> Stock</th>
            <th>Yılı</th>
            <th>Sayfa Numarası</th>
            <th>Kategori</th>
            <th>Kitap Bilgisi</th>
            <th>kitap Resim Yolu</th>
            <th>Yazar ismi</th>
            <th>Yazar hakkında</th>
            <th>Yazar sözü</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-light">
                <td>@item.BookID</td>
                <td>@item.Name</td>
                <td>@item.Stock</td>
                <td>@item.Year</td>
                 <td>@item.PageNumber</td>
                  <td>@item.BookCategory</td>
                  <td>@item.Bookinfo</td>
                  <td>@item.BookImage</td>
@*                  <td>@item.AuthorName</td>
                  <td>@item.AuthorAbout</td>
                  <td>@item.AuthorQuintessence</td>*@
                  <td></td>


                <td>
                    <a asp-controller="Book" asp-action="remove" asp-route-id="@item.BookID">Sil</a>
                    <a asp-controller="Book" asp-action="update" asp-route-id="@item.BookID">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
